<div class="container">
  <form  [formGroup]="contactForm" class="col-md-6 .offset-md-3" (submit)="enviar($event)">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email"
       class="form-control"
       id="exampleFormControlInput1"
       placeholder="name@example.com"
       formControlName="email"
       [ngClass]="{'is-invalid' : hasErrors('email','required') || hasErrors('email','email')}"       >
      @if(hasErrors('email','required')){
        <span class="text-danger">Completa este campo</span>
      }
      @if(hasErrors('email','email')){
        <span class="text-danger">Formato invalido</span>
      }

    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
      <textarea class="form-control"
      id="exampleFormControlTextarea1" rows="3"
      formControlName="mensaje"
      [ngClass]="{'is-invalid' : hasErrors('mensaje','required') || hasErrors('mensaje','minlength')}"
      ></textarea>
      @if(hasErrors('mensaje','required')){
        <span class="text-danger">Completa este campo</span>
      }
      @if(hasErrors('mensaje','minlength')){
      <span class="text-danger">Este texto es de 100 caracteres</span>
      }
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
  <footer class="navbar navbar-fixed-bottom">
    <span class="pull-right"><img id="logoEmpresa" src="/" alt="" class="img-rounded"></span>
</footer>
